<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Деталі замовлення</title>
</head>
<body>
<h2 th:text="'Замовлення № ' + ${order.id}"></h2>
<p>Дата: <span th:text="${order.creationDate}"></span></p>
<p>Загальна вартість: <strong th:text="${order.totalCost} + ' грн'"></strong></p>

<h3>Товари в замовленні:</h3>
<ul>
    <li th:each="product : ${order.products}"
        th:text="${product.name} + ' - ' + ${product.cost} + ' грн'">
    </li>
</ul>

<br>
<a href="/orders">Повернутися до списку</a>
</body>
</html>